name: gilang_bot
description: Aplikasi Gilang Bot untuk UTS Pemrograman Mobile 2.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # State Management (Riverpod) - PENTING UNTUK UTS
  flutter_riverpod: ^2.5.1 # Gunakan versi terbaru yang stabil

  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true